.well{
  border:1px solid black;
  text-align: center;
  margin: 5px;
  color: #B28B00;
}

.hidden{
  display:none;
}

.well:hover {
  background-color: white;
}

h1 {
  text-align: center;
  color: #B28B00;
}

p {
  background-color: #ACE3FF;
  margin-bottom: 0px;
}


html {
  background-image:url("../img/blue.jpeg");
  background-size: cover;
  height:100%;
  background-repeat: no-repeat;
}
body {
  background-image:url("../img/blue.jpeg");
  background-size: cover;
  height:100%;
  background-repeat: no-repeat;
}
